= link_to "80legs", root_path, :class => 'brand'
%ul.nav
  %li.dropdown
    %a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
      Crawls
      %b.caret
    %ul.dropdown-menu{"aria-labelledby" => "drop1", :role => "menu"}
      %li{:role => "presentation"}
        = link_to 'My Crawls', crawls_path
      %li{:role => "presentation"}
        = link_to 'New Crawl', new_crawl_path
      %li{:role => "presentation"}
        %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Something else here
      %li.divider{:role => "presentation"}
      %li{:role => "presentation"}
        %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Separated link
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path
